.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 12rem 0;

    background: var(--gray-700);

    div {
        h1 {
            color: var(--gray-100);
            font-size: 32px;
            padding: 2rem 0;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 4px;
                background-color: aliceblue;
            }
        }
    }

    .social-media {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(1rem - 8px);

        margin-bottom: 2rem;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            overflow: hidden;

            width: 40%;
            padding: .5rem;

            border: 2px solid #f3f4f6;
            border-radius: 20px;

            background-color: transparent;
            transition: .2s ease-in-out;

            i,
            span {
                color: #f3f4f6;
            }

            &:hover {
                background:#1f2937;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        background: var(--gray-700);s

        div {
            h1 {
                color: var(--gray-100);
                font-size: 32px;
                padding: 2rem 0;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 4px;
                    background-color: aliceblue;
                }
            }
        }

        .social-media {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(1rem - 8px);

            margin-bottom: 2rem;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                overflow: hidden;

                width: calc(60% - 1rem);
                padding: .5rem;

                border: 2px solid #f3f4f6;
                border-radius: 20px;

                background-color: transparent;
                transition: all .2s ease-in-out;

                i,
                span {
                    color: #f3f4f6;
                }
                
                &:hover {
                    background-color: white;
                }

                &:hover > i,
                &:hover > span {
                    color: black;
                }
            }
        }
    }
}