:root {
    --gray-100: #EEEEEE;
    --gray-700: #1D1616;  
    --red: #8E1616;
    --blue: rgb(20, 150, 200);
    --font-vibur: "Vibur", serif;
    --font-red-hat: "Red Hat Display", serif;
    --font-open-sans: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;

    background: var(--gray-700);
    background-blend-mode: color-dodge;

    gap: 1rem;

    padding: 1rem 1rem;

    img {
        height: 200px;
    }
    
    h1 {
        font-family: var(--font-vibur);
        letter-spacing: 5px;
        font-weight: 400;
        font-style: normal;
    }

    p {
        font-family: var(--font-red-hat);
    }
}

@media screen and (max-width: 1024px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: 100vh;
        width: 100vw;

        background-color: #1D1616;
        

        gap: 1rem;

        overflow: hidden;

        
        img {
            border-radius: 50%;
            border: 2px solid var(--red);
            
            height: 200px;
        }

        h1 {
            text-align: center;
            font-size: calc(2rem - .4rem);
            color: var(--gray-100);
        }

        p {
            font-size: 20px;
            font-weight: lighter;
            color: var(--gray-100);
        }
    }
}