@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --gray-100: #EEEEEE;
    --gray-700: #1D1616;  
    --red: #8E1616;
    --blue: rgb(20, 150, 200);
    --font-vibur: "Vibur", serif;
    --font-red-hat: "Red Hat Display", serif;
    --font-open-sans: "Open Sans", sans-serif;
}

html {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;

    color: var(--gray-100);
}

.ball {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    backdrop-filter: invert(1) grayscale(1);
    -webkit-backdrop-filter: invert(1) grayscale(1);
    z-index: 999999;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.75rem 0;

    background: var(--gray-700);

    p, sup {
        color: var(--gray-100);
    }
}

.link-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    margin-top: 7px;
    gap: 7px;
}

.link {
    display: flex;
    align-items: center;

    font-family: var(--font-rainy-heart);
    font-size: 32px;
    text-align: justify;

    transition: .3s ease-in;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.btn {
    padding: 1rem;

    background: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;

    cursor: pointer;
}

/* Fading Transition */
.fade-enter {
    opacity: 0;
    transform: translateY(10px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

@media screen and (max-width: 1024px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0.75rem 0;

        background: var(--gray-100);

        p, sup {
            color: var(--gray-700);
            font-size: 16px;
        }
    }

    .link {
        display: flex;
        align-items: center;
        width: 100%;

        font-family: var(--font-rainy-heart);
        font-size: 24px;
        text-align: justify;
    }

    .btn {
        padding: 1rem;

        background: transparent;
        outline: none;
        border: 2px solid white;
        border-radius: 10px;

        cursor: pointer;
    }
}